.logocontainer {
  text-align:center;
}

.headercontainer {
  text-align: center;
}

#astrologo {
  display: inline;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: 35%;
}

.headercontainer {
  text-align: center;
  /* position: relative;
  margin-left: auto;
  margin-right: auto; */
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  display: inline-block;
  text-align: center;
  justify-content: center;
  white-space: pre;
  text-decoration: none;
  /* display:inline; */
  /* position:relative; */
  font-family: 'Space Mono', arial;
  font-weight: bold;
  font-size: 3em;
  margin-top: 50px;
  transition: transform .5s;
  color: #222;
}

h1:hover {
  cursor:pointer;
  transform: scale(1.02);
  text-decoration: none;
}

#astroheader:hover {
  color: #ff5f3a;
}

#socials li {
display: inline;
float: none;
text-align: center;
margin-left: 5px;
margin-right: 5px;
}

.socialicons {
  display: flex;
  justify-content: center;
  text-align: center;
}

#astrologo:hover {
    animation: pulse 2s infinite;
    cursor: pointer;
  }

  @keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
}
      #navheaderbar {
        white-space:nowrap;
        width: 100%;
        background-color: #333;
      }

      #navheaderbar:before{
    content: "";
    padding-top: 50px;
}

 .navlink, li {
  font-family: "Space Mono";
  font-size: 18px;
  color: white;
  line-height: 50px;
  margin-left: 20px;
  margin: 0;
  padding-left: 10px;
}


ul {
  list-style: none;
}

ul, li {
  display: inline;
  padding: 5px;
}

#emailform {
  background-color:rgba(0, 0, 0, 0);
  display: inline;
  position:relative;
  margin: 0;
  margin-right: 10px;
  text-align: right;
  color:white;
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
  border: none;
  outline:none;
  height:50px;
  transition:height 1s;
  -webkit-transition:height 1s;
  float:right;
}


#email {
  background-color:rgba(0, 0, 0, 0);
  display: inline;
  position: relative;
  margin: 0;
  margin-right: 10px;
  margin-top: 1px;
  text-align: right;
  color:white;
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
  border: none;
  outline:none;
  height:50px;
  transition:height 1s;
  -webkit-transition:height 1s;
  float:right;
}

#rightlink {
  display: inline;
  position: relative;
  text-align: right;
  margin: 0;
  margin-right: 20px;
  line-height: 50px;
  float: right;
  font-family: "Space Mono";
  font-size: 18px;
  color: white;

}

#paperplane {
  display: inline;
  position: relative; */
  margin: 0;
  margin-right: 15px;
  margin-top: 11px;
  line-height: 50px;
  float: right;
  font-family: "Space Mono";
  font-size: 18px;
  color: white;
  text-align: right;
  width: 27px;
  transition: all 1s;
  animation: pulse 2s infinite;
}

#paperplane:hover {
  transform: scale3d(1.5,1.2,5);

}

/* .planetransform {
  transition-property: all;
  transition-delay: 2s;
} */

#navlist2 {
  white-space:nowrap;
}
/*
.navlink {
  font-family: "Space Mono";
  font-size: 18px;
  color: white;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
} */

.firstline {
  font-family: "Space Mono";
  font-size: 18px;
  color: white;
  list-style: none;
  padding-left: 0;

  /* margin-left: 15px; */
}

.leftline {
  font-family: "Space Mono";
  font-size: 18px;
  color: white;
  list-style: none;
  padding-left: 0;
  /* margin-left: 15px; */
}

#rightlink:hover {
  color: #ff5f3a;
  transform: scale(1.02);
  cursor: pointer;
}

#leftlink:hover {
  color: #ff5f3a;
  transform: scale(1.02);
  cursor: pointer;
}

button, input[type="submit"]{
  background-image: url("paper-plane.svg") width="30px";
  background-color: transparent;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    font-size: 10px;
}

.icons:hover {
  -webkit-filter: invert(100%);
  transform: scale(1.1);
}
